.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slide {
  height: 100%;
}

.slide img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 1s ease;
  object-fit: cover;
  /* pointer-events: none;
  user-select: none; */
}

.slide-hidden {
  opacity: 0;
  display: none;
}


.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  z-index: 2;
  padding: 3%;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
}

.arrow img {
  width: 50%;
}

.arrow.left {
  left: 15px;
}

.arrow.right {
  right: 15px;
}

.mobile-hidden {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .desktop-hidden {
    display: none;
  }

  .slide {
    text-align: center;
  }

  .thumbnails-container {
    display: flex;
    gap: 2rem;
  }

  .thumbnail-array {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }

  .thumbnail-array-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .thumbnail-array-item img {
    width: 90px !important;
    height: 90px !important;
    cursor: pointer;
    transition: all 0.5s;
  }

  .thumbnail-array-item img:hover {
    filter: drop-shadow(4px 4px 10px hsl(26, 100%, 55%));
    transform: scale(1.2)
  }

  .active {
    filter: opacity(20%);
  }

  .active-border {
    border: 3px solid hsl(26, 100%, 55%);
    border-radius: 20px;
  }
}