.product-container {
  padding: 1rem;
}

.product-header h3 {
  font-size: 12px;
  margin: 0;
  color: hsl(26, 100%, 55%);
  letter-spacing: 1.5px;
}

.product-header h2 {
  margin: 1rem 0;
}

.product-header p {
  font-size: 13px;
  line-height: 1.6;
  font-weight: 450;
  color: hsl(219, 9%, 45%);
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.final-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.final-price p {
  font-size: 24px;
  font-weight: 700;
}

.discount {
  padding: 4px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
}

.original-price {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
  margin: 1rem 0;
  background-color: hsl(223, 64%, 98%);
  border-radius: 8px;
  padding: 5px 10px;
  height: 40px;
  font-weight: 700;
}

.minus-icon {
  margin-bottom: 5px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.plus-icon {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* dumb animation */
@keyframes dumb {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.dumb {
  animation: dumb 0.3s ease-in-out;
}

@media only screen and (min-width: 1200px) {
  .thumbnail img {
    border-radius: 15px;
    width: 450px;
    height: 450px;
  }

  .product-header h2 {
    font-size: 42px;
    margin-bottom: 2rem;
  }

  .product-header p {
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .price-container {
    flex-direction: column;
    align-items: start;
    gap: 2px;
    margin-bottom: 1rem;
  }

  .final-price {
    margin: 2rem 0 0.5rem 0;
  }

  .final-price p {
    margin: 0;
  }

  .add-to-cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .quantity {
    gap: 2rem;
    width: 30%;
  }

  .add-to-cart-container button {
    width: 100%;
  }
}