h1 {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  z-index: 100;
}

.nav-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.shop-icon-group {
  position: relative;
}

.product-qty {
  position: absolute;
  top: -8px;
  left: 13px;
  
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  font-size: 10px;
  font-weight: 600;
  padding: 2px 5px;
  border-radius: 50%;
}