.navbar img {
  cursor: pointer;
}

.mobile-hidden {
  display: none;
}

@media only screen and (min-width: 1200px) {

  .desktop-hidden {
    display: none;
  }

  .nav-links {
    display: block;
  }

  .nav-links ul {
    list-style: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
  }

  .nav-links ul li {
    font-size: 16px;
    font-weight: normal;
    color: hsl(219, 9%, 45%);
    cursor: pointer;
    transition: color 0.5s;
  }

  .nav-links ul li:hover {
    color: hsl(220, 13%, 13%);
  }

  .nav-links ul li.active {
    border-bottom: 3px solid hsl(26, 100%, 55%);
    color: hsl(220, 13%, 13%);
  }

  .nav-item {
    padding: 2rem 0;
  }
}